*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header{
    border: 1px solid green; 
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 1347px;
    /* margin-left: 129px; */
}

.header-nav{
     border: 1px solid red; 
}

.header-banner{
    display: flex;
    border: 1px solid black; 

}

.header-title{
    width: 565px;
    height: 351px;
     border: 1px solid blue; 
    margin: 139px 50px 0px 129px;

}

.header-title h1{
    font-size: 80px;
    font-weight: bold;
    height: 180px;
    width: 565px;
    font-family: 'Poppins', sans-serif;
    line-height: 90px;
    letter-spacing: -2px;
    color: #34313D;
}

.header-title p{
    font-size: 22px;
    color: #9E9AA8;
    width: 538px;
    margin-bottom: 38px;
    line-height: 36px;
    letter-spacing: 0.15px;
}

.header-title button{
    height: 56px;
    width: 197px;
    background-color: #2BD0D0;
    color: #fff;
    border: none;
    border-radius: 35px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.header-title button:hover{
    background-color: #9AE3E3;
}

.header-svg{
    overflow-x: hidden;
    margin-top: 78px;
}


@media screen and (max-width: 375px) {
    .header-banner {
        height: 619px;
        width: 327px;
        display: flex;
        margin-top: 70px;
        margin-left: 24px;
    }

    .header-title button {
    height: 56px;
    width: 197px;
    background-color: #2BD0D0;
    color: #fff;
    border: none;
    border-radius: 35px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    position: relative;
    right: -39px;
}
.header-title {
    width: 325px;
    height: 270px;
    position: absolute;
    margin: 139px 50;
    left: -94px;
    top: 270px;
}

    .header-title h1 {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    height: 100px;
    width: 320px;
    font-family: 'Poppins', sans-serif;
    line-height: 45px;
    letter-spacing: -2px;
    color: #34313D;
}
.header-title p {
    font-size: 22px;
    color: #9E9AA8;
    margin-bottom: 38px;
    line-height: 36px;
    letter-spacing: 0.15px;
    position: relative;
    width: 100%;
}
.header-title button {
    height: 56px;
    width: 197px;
    background-color: #2BD0D0;
    color: #fff;
    border: none;
    border-radius: 35px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    position: relative;
    right: -39px;
}
.header-svg {
    overflow-x: hidden;
    position: absolute;
    left: -150px;
    top: 5px;
    margin-top: 3px;
    transform: scale(0.5);
}
}